@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-dark {
    @apply bg-gray-900 px-4 py-3 capitalize font-medium;
  }
  .btn-indigo {
    @apply bg-indigo-600 text-white capitalize font-medium px-4 py-3;
  }
  .form-control {
    @apply bg-gray-900 p-3 rounded-sm outline-none w-full;
  }
}
